.main {
    display: flex;
    flex-direction: column;
    background-color: #343045;
    width: 100%;
    min-height: 100vh; /* Ensures full viewport height */
    position: relative;
    overflow-y: auto; /* Keeps scrolling enabled if content overflows */
    overflow-x: hidden;
    padding: 1rem; /* Adds spacing for better mobile appearance */
    box-sizing: border-box;
}
/* old color= #2a2734
/* Tablet and smaller desktops */
@media (max-width: 1200px) {
    .main {
        padding: 0.8rem;
        width:100vw;
    }
}

/* Mobile Devices */
@media (max-width: 768px) {
    .main {
        padding: 0.5rem;
        width:100vw;
        min-height: 100dvh;
    }
}

/* Very Small Screens */
@media (max-width: 480px) {
    .main {
        padding: clamp(0.5rem, 2vw, 1rem);
        width:100vw;
    }
}
