/* Navbar Styles */
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face{
  font-family: "clashDisplay";
  src: url("../fonts/ClashDisplay-Variable.ttf");
}

.navbar {
  position:relative;
  display: flex;
  flex-wrap: wrap;  /* Allow items to wrap on small screens */
  justify-content: space-between;
  align-items: center;
  background-color: #292537;
  padding: 15px clamp(20px, 5vw, 50px); /* Dynamic padding */
  min-height: 75px;
  width: 100%;
  box-sizing: border-box; /* Prevents horizontal scroll */
}
  
  /* Logo */
  .logo img {
    height: 75px;
    scale:1.4;
  }
  
  /* Navigation Links */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 120px;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    font-family: poppins;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }
  
  .nav-links a:hover {
    color: #c2c2c2;
  }
  
  /* Buttons */
  .nav-buttons {
    position: relative;
    display: flex;
    margin-right:50px;
  }
  
  .signup-btn {
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .signup-btn:hover {
    background: white;
    color: #2B2740;
  }
  
  .login-btn {
    background: linear-gradient(to right, #5F5C8E, #A6A1C6);
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .login-btn:hover {
    opacity: 0.8;
  }

  .user-name{
    color: #e84d9a;
    font-family: poppins;
  }

  @media (max-width: 768px) {
    .nav-links {
      flex-direction: column;
      align-items: center;
      gap: 15px; /* Reduce spacing */
    }
  
    .nav-buttons {
      flex-direction: column;
      gap: 10px;
    }
  }
  