.news-main-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #343045;
    width: 100vw;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

.news-heading {
    background-color: #211e2b;
    align-self: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    font-weight: bolder;
    color: white;
    border: 2px solid #DF53BB;
    box-shadow: 0 0 7px #DF53BB;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    width: 40%;
    max-width: 350px;
}

.news-logo {
    width: 50px;
    height: auto;
}

.news-section {
    margin: 0 50px;
}

.news-card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
}

.news-card {
    background: #292c43;
    border-radius: 40px;
    padding: 30px;
    margin-bottom: 20px;
    border: 2px solid #a18cd1;
    box-shadow: 0 0 10px #a18cd1;
    color: white;
    transition: all 0.3s ease;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 280px;
}

.news-card:hover {
    transform: translateY(-4px);
}

.news-card h3 {
    font-family: poppins;
    font-size: 23px;
    font-weight: bold;
    color: white;
}

.news-card-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #e0e0e0;
    margin-top: 12px;
    margin-bottom: 12px;
    white-space: pre-wrap;
    letter-spacing: 0.3px;
}

.news-card a {
    text-decoration: none;
    color: #0077cc;
    font-weight: bold;
}

.news-loading,
.news-error {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    margin-top: 15%;
    min-height: 100vh;
    color: #e84d9a;
}

.news-source {
    font-size: 1.1rem;
    font-weight: 600;
    color: #ff369a;
    margin-top: auto;
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
    font-style: italic;
}

.news-sentiments {
    font-size: 1.2rem;
    font-family: poppins;
    font-weight: bold;
    margin-top: auto;
    padding-top: 10px;
}

.sentiment-positive {
    color: lime;
}

.sentiment-neutral {
    color: rgb(255, 251, 3);
}

.sentiment-negative {
    color: #ff1100;
}

.news-disclaimer-wrapper {
  width: 100%;
  background-color: #211e2b;
  padding: 20px;
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  margin-bottom: -30px;
}

.disclaimer-text {
  font-size: 1.5rem;
  font-family: poppins;
  font-weight: bold;
  color: #ff69b4; 
  margin-bottom: 10px;
}

.news-disclaimer {
  font-size: 1em;
  color: #cccccc;
  font-style: italic;
  line-height: 1.5;
  max-width: 900px;
  margin: 0 auto;
}

.news-section {
  margin-top: 10px;
}

.indices-card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.indices-card {
  background-color: #000;
  color: #fff;
  padding: 8px 27px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* spread left, center, right */
  gap: 3px;
  font-family: Arial, sans-serif;
}

/* Left-aligned title */
.index-title {
  font-weight: 600;
  flex: 1; /* takes left side */
  text-align: left;

}

/* Centered price */
.index-price {
  font-size: large;
  font-weight: 700;
  flex: 1;
  text-align: center;
  margin-top: 30px;
}

/* Right-aligned percent change */
.change-container {
  display: flex;
  align-items: center;
  gap: 4px;
  flex: 1;
  justify-content: flex-end;
}

.up-icon {
  color: #22c55e;
  width: 14px;
  height: 14px;
  margin-top: 15px;
  scale:1.7;
}

.down-icon {
  color: #ef4444;
  width: 14px;
  height: 14px;
  margin-top: 15px;
  scale:1.7;
}

.arrow-up {
  font-size:large;
  color: #22c55e;
  font-weight: 500;
  margin-top: 15px;
}

.arrow-down {
  font-size:large;
  color: #ef4444;
  font-weight: 500;
  margin-top: 15px;
}



/* ------------------- Responsive ------------------- */

@media screen and (max-width: 768px) {
    .indices-card-grid{
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
    
    .news-card-grid {
      grid-template-columns: 1fr;
      padding: 0 20px;
    }
    .news-heading {
        font-size: 2rem;
        width: 70%;
        padding: 15px;
    }

    .news-section {
        margin: 0 20px;
    }

    .news-card {
        padding: 20px;
        min-height: 250px;
    }

    .news-card h3 {
        font-size: 20px;
    }

    .news-card-text {
        font-size: 15px;
    }

    .news-sentiments {
        font-size: 1rem;
    }

    .disclaimer-text {
    font-size: 1.2rem;
  }

  .news-disclaimer {
    font-size: 0.95em;
    padding: 0 15px;
  }

  .news-disclaimer-wrapper {
    padding: 15px;
  }
}

